{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        {% for post in posts %}
            <div class="jumbotron mt-2 mb-2">
                <h3><a href="{{ url_for('post', post_id=post.id) }}">Course : {{ post.course }}</a></h3>
                <h5>Time: {{ post.date }} at {{ post.time }}</h5>
                <h5>Syllabus: {{ post.syllabus }}</h5>
                <small><em>Added by {{ post.poster.username }}</em></small>
            </div>
        {% endfor %}     
    </div>
{% endblock %}