{% extends 'layout.html' %}

{% block title %}
CUET Classroom
{% endblock %}
{% block body %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to <span class="text-primary">CUET Classroom</span></h1>
        <ul class="list-group">
            <li class="list-group-item">Go to <a href="/notice"><span class="badge badge-danger">NOTICE</span></a> for announcements and class notices</li>
            <li class="list-group-item">Go to <a href="/schedules"><span class="badge badge-danger">SCHEDULES</span></a> for Class and CT schedules</li>
            <li class="list-group-item">Go to <a href="https://drive.google.com/drive/folders/1mFihvyKYPyW4HiUVg1hJIiWdMjfK6MSX"><span class="badge badge-danger">CLASS MATERIALS</span></a> to access our Google Drive folder</li>
        </ul>
    </div>
</div>
{% endblock %}