{% extends 'layout.html' %}

{% block body %}
<div class="text-center text-primary">
    <h4>Welcome to the students portal of CUETians!</h4>
</div>

<div class="row">
    <div class="col">
        {% if posts is defined %}
            <div class="container">
                <span class="badge badge-danger text-center">Upcoming CT schedules</span>
                {% for post in posts %}
                    <div class="jumbotron mt-2 mb-2">
                        <h3><a href="{{ url_for('post', post_id=post.id) }}">Course : {{ post.course }}</a></h3>
                        <h5>Time: {{ post.date.strftime('%d-%m-%Y') }} at {{ post.time }} AM</h5>
                        <h5>Syllabus: {{ post.syllabus }}</h5>
                        <small><em>Added by {{ post.poster.username }}</em></small>
                    </div>
                {% endfor %}     
            </div>
        {% else %}
            <div class="jumbotron text-center">
                <div class="container">
                    <h1>Welcome to <span class="text-primary">CUET Classroom</span></h1>
                    <ul class="list-group">
                        <li class="list-group-item">Go to <a href="/notice"><span class="badge badge-danger">NOTICE</span></a> for announcements and class notices</li>
                        <li class="list-group-item">Go to <a href="{{ url_for('ct')}}"><span class="badge badge-danger">CT Schedules</span></a> for Class and CT schedules</li>
                        <li class="list-group-item">Go to <a href="https://drive.google.com/drive/folders/1mFihvyKYPyW4HiUVg1hJIiWdMjfK6MSX"><span class="badge badge-danger">CLASS MATERIALS</span></a> to access our Google Drive folder</li>
                    </ul>
                </div>
            </div> <!-- jumbotron -->
        {% endif %}
    </div> <!-- col -->
</div> <!-- row -->
{% endblock %}